<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" routerLink="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/binding" routerLinkActive="active">Binding</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/estructura" routerLinkActive="active">Estructura</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/atributos" routerLinkActive="active">Atributos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/formularios" routerLinkActive="active">Formularios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cliente" routerLinkActive="active">Cliente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cliente/1234" routerLinkActive="active">Cliente1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cliente/5678/A" routerLinkActive="active">Cliente2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
            </li>
        </ul>
    </div>
</nav>